{% set kibana = salt['grains.filter_by']({
    'default': {
        'config': {
            'elasticsearch_url': 'http://localhost:9200',
            'server.host': '127.0.0.1',
            'server.port': 5601
        },
        'nginx_config': {
            'cert_path': '/etc/salt/ssl/certs/kibana.yourdomain.com.crt',
            'key_path': '/etc/salt/ssl/certs/kibana.yourdomain.com.key',
        },
        'nginx_extra_config_template_source': 'salt://elasticsearch/kibana/templates/nginx_extra.conf',
        'ssl_directory': '/etc/salt/ssl/certs',
        'es_client_node': True,
        'kibana_env': [
            'NODE_OPTIONS=--max-old-space-size=1024'
        ]
    },
    'Debian': {
        'pkgs': [
            'apt-transport-https',
            'nginx',
            'openjdk-7-jre-headless'
        ],
        'nginx_site_path': '/etc/nginx/sites-enabled'
    },
    'RedHat': {
        'pkgs': [
            'nginx',
            'java-1.8.0-openjdk-headless'
        ],
        'nginx_site_path': '/etc/nginx/sites-enabled'
    },
}, grain='os_family', merge=salt['pillar.get']('kibana:lookup'), base='default') %}
