elasticsearch:
  lookup:
  plugins:
    - name: cloud-aws
      config:
        cloud:
          aws:
            access_key: accesskeystring
            secret_key: secretkeystring

mine_functions:
  network.ip_addrs: [eth0]
  network.get_hostname: []
