elasticsearch:
  lookup:
    version: '5.x'
    configuration_settings:
      {% if 'kibana' in salt.grains.get('roles', []) %}
      'node.master': 'false'
      'node.data': 'false'
      {% else %}
      'discovery.zen.minimum_master_nodes': 1
      'gateway.recover_after_nodes': 1
      'gateway.expected_nodes': 1
      'gateway.recover_after_time': '5m'
      {% endif %}
      network.host: _local_
      transport.host: _eth0_
      cluster.name: 'elasticsearch_cluster'
      discovery.zen.ping.unicast.hosts: ['192.168.33.10', '192.168.33.11']
  plugins:
    - name: discovery-ec2
      config:
        cloud:
          aws:
            region: us-east-1
    - name: repository-s3
mine_functions:
  network.ip_addrs: [eth0]
  network.get_hostname: []

kibana:
  lookup:
    nginx_extra_config_dict:
      auth_basic: 'on'
      auth_basic_user_file: /etc/nginx/kibana_users
    nginx_extra_files:
      - name: nginx_auth
        path: /etc/nginx/kibana_users
        contents: |
          kibana:YT6iPwvMfqU02
  ssl:
    cert_params:
      emailAddress: your@name.com
      bits: 4096
      CN: kibana.yourdomain.com
      ST: MA
      L: Boston
      O: Your Company
      OU: Your Department
